[mysqld]
port = 3306
bind_address=0.0.0.0
lower_case_table_names=1
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
# symbolic_links=0
######## 复制框架 ########
gtid_mode=ON # 全局事务标识符打开
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_slave_updates=ON
log_bin=binlog
binlog_format=ROW
wait_timeout=6000 # 超时时间 如600秒
max_connections=20000
max_allowed_packet=1024M # 最大允许数据量
# 要同步的数据库,innodb不支持
# binlog-do-db = lishi 
# 不需要同步的数据库
# binlog-ignore-db = mysql 
# binlog-ignore-db = information_schema 
# binlog-ignore-db = performance_schema 
# binlog-ignore-db = sys
sync_binlog = 1
binlog_expire_logs_seconds = 252000 # 二进制日志自动删除/过期的秒数。默认值为0，表示不自动删除。
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
